* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
  font-weight: bold;
}

.app-content {
  padding-top: 60px;
  height: 100vh;
}
